// Import typography variables
@use '../base/typography' as t;

// Import mixins and variables
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.review {
    border: 1px solid red;
    margin: 0 auto 2rem;
    min-width: 80%;
    max-width: 32rem;

    &__header {
        display: grid;
        grid-template-columns: max-content 1fr;
    }

    &__header,
    &__text {
        border: 1px solid green;
    }

    &__author-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
    }

    &__author-img {
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
    }
}