/*------------------------------------------------------------------
[Table of contents]
    1. Colors
        1.1 Primary
        1.2 Neutral
            1.2.1 Paragraphs
            1.2.2 Background, headings, buttons
        1.3 Black
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
1. Colors
    1.1 Primary
*/

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

/*------------------------------------------------------------------
1. Colors
    1.2 Neutral
        1.2.1 Paragraphs
*/

$transparent-white: hsla(0, 0%, 100%, 0.75);

/*------------------------------------------------------------------
1. Colors
    1.2 Neutral
        1.2.2 Background, headings, buttons
*/

$very-light-gray: hsl(0, 0%, 95%);

/*------------------------------------------------------------------
1. Colors
    1.3 Black
*/

$black: hsl(0, 0%, 0%);